:root {
    --primary-color: #5b5780;
    --secondary-color: #f4a261;
    --accent1-color: white;
    --accent2-color: rgb(255, 252, 57);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);

}

header a {

    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    padding: 15px;
}

h2 {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 15px
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

article {
    background-color: var(--secondary-color);

}

.socialmedia a {
    text-decoration: none;
    display: inline;

}

.socialmedia {

    width: 50px;
    height: auto;

}

.hero {
    position: relative;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

.hero article {
    position: absolute;
    bottom: 15px;

}

.hero article img {
    float: right;
    width: 150px;
    margin: 10px;

}