* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {

    max-width: 840px;
    margin: 0 auto;
}

/* GRIDS */
.grid {

    display: grid;
    grid-template-columns: 1fr 2fr;

}

aside {

    grid-row-start: -1;
}

main {
    margin: 1rem;
}

/* END GRIDS  */

body {
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
}

:root {

    --border-simple: 1px solid black;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

h1 {
    color: darkblue;
    padding: .5rem;
    border-bottom: var(--border-simple);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-simple);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
    /* if any error change first 1rem for 0 */
}

p {
    padding: 0;
    margin: 1rem;

}

main {

    max-width: 840px;
}

ul {
    clear: both;

}

aside {

    width: 20rem;

    margin: 1rem;
    border: black solid 2px;
    padding: 1rem;
    background-color: rgb(139 0 0 / .7);
    color: white;
    text-align: center;
    position: relative;

}

aside h2 {
    position: absolute;
    top: 30px;
    left: 200px;
    color: white;
}

aside img {

    width: 200px;
    height: auto;

}

footer {

    margin-top: 1rem;
    border-top: var(--border-simple);
    text-align: center;
}

/* Class Selectors*/

.box {

    margin: 1rem;
    border: var(--border-simple);
    padding: 1rem;
    /* background-color: #eee;
    color: #000; */
}

.indent {
    padding-left: 2rem;
}